<ion-view view-title="Login">
  <ion-content class = "padding">
    <div class = "list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="username">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <button class="button button-block button-dark" ng-click="loginUser(username, password)">Login</button>
      <button class="button button-block button-clear button-positive" ng-click="newUser()">Create Account</button>
      <h2 ng-show="error">{{errorMes}}</h2>
    </div>
  </ion-content>
</ion-view>
