<ion-view view-title="Login">
  <ion-content class = "padding">
    <div class = "list">
      <label class="item item-input">
        <input type="text" placeholder="Username" ng-model="email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password" ng-model="password">
      </label>
      <button class="button button-block button-dark" ng-click="loginUser(email, password)">Login</button>
      <button class="button button-block button-clear button-positive" ng-click="modal.show()">Create Account</button>
    </div>
  </ion-content>
</ion-view>

<script id="templates/new-user.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">New Account</h1>
      <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
    </ion-header-bar>
    <ion-content class = "padding">
      <div class = "list">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="username">
        </label>
        <label class="item item-divider"></label>
        <label class="item item-input">
          <input type="text" placeholder="Email" ng-model="email">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="password">
        </label>
        <button class="button button-block button-dark" ng-click="createUser(email, username, password)">Create</button>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
