<ion-view view-title="Dashboard">
    <ion-content class="" scroll="false">
        <div class="tabs-striped tabs-background-dark tabs-color-positive">
            <div class="item tabs tabs-secondary">
              <a class="tab-item" ui-sref="tab.dash.global">
                <i class="icon ion-ios-world"></i>
              </a>
              <a class="tab-item" ui-sref="tab.dash.new-event">
                <i class="icon ion-ios-plus"></i>
              </a>
              <a class="tab-item" ui-sref="tab.dash.self">
                <i class="icon ion-ios-body"></i>
              </a>
            </div>
          </div>  
    </ion-content>
    <ui-view name="dash-sub"></ui-view>
  
</ion-view>